.AddPost {
    border: 1px gray solid;
    text-align: center;
    margin: 20px;
}

.AddPost input {
    width: 90%;
}

.AddPost textarea {
    width: 90%;
    height: 120px;
}
.AddPost button {
    margin: 10px;
    width: 50%;
    cursor: pointer;
    padding: 10px;
    border: transparent 1px solid;
    background-color: lightgreen;
    border-radius: 3px;
}

.AddPost button:hover,
.AddPost button:active {
    background-color: darkgreen;
    color: white;
}